.main-sidebar {
          position: absolute;
          top: 0;
          left: 0;
          padding-top: 60px;
          min-height: 100%;
          width: 80px;
          /* z-index: 810; */
          font-family: 'Alegreya Sans', sans-serif;
          
          transition: width 0.3s ease-in-out;
          background-color: #0a0d5b;
}
.sidebarGo{
          transform: translate(-264px,108px);
          position: absolute;   
}
.hamburger{
          position: absolute;
          cursor: pointer;
          top: 6px;
          left: 4px;
        
      }
      .cross{
          margin-left: 96px;
      }
 
.main-sidebar ul{
    list-style-type: none

} 